.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: white
}

.subtitle {
    padding-bottom: 10px;
    border-bottom: 1px solid whitesmoke;
}

#search-by-city {
    margin-left: 4px;
    color: black;
}

#search-by-city:hover {
    color: grey;

}