html, body, .container-fluid, .content-row {
    height: 100%;
}

.hide {
    display: none;
}

.city-btn:hover {
    background-color: #f6f5f5;
    cursor: pointer;
}

.card {
    background-color: #cce5ff;
}

.navbar-dark {
    background-color: #5A7684;
}

.navbar-brand {
    font-size: 50px;
}

#current-date {
    margin-left: 8px;
}

#clear-history {
    background-color: #5A7684;
}